/*colors*/

$color1:#FFFFFF;
$color2:#63FBD7;
$color3:#05A5FA;
$color4:#000029;
$color5:#707070;
$color6:#333333;
$color7:#FA41CC;
$color8:#6020B0;
$color9:#3BA6C9;
$color10:#EEFBFB;
$color11:#E5E5E5;
$color12:#67FFD6;
$color13: #F2F2F2;
$color14: #0C449B;
$color15: #F8F8F8;


