@import "_mixin.scss";
@import "_module.scss"; 


@mixin sp($width-media: 680px){
    @media only screen and (max-width: $width-media){
        @content;
    }
}

@mixin tb($width-media: 1024px){
    @media only screen and (max-width: $width-media){
        @content;
    }
}
/*base
----------------------*/
body{
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

/*header
----------------------*/


header{
    box-shadow: 0px 3px 6px #000029;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: $color1;
}
.header-inner{
    @include inner;
    height: 94px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include sp{
        padding: 0 10px;
    }
}

.left-header{
    display: flex;
    align-items: center;
    @include sp{
        padding-left: 10px;
    }
    img{
        display: inline-block;
        @include tb{
            margin-left: 10px;
        }
    }
    p{
        font-size: 24px;
        margin-left: 16px;
        line-height: 94px;
        font-weight: bold;
    }
}
.middle-header ul{
    display: flex;
    @include sp{
        display: none;
    }
    li{
        font-size: 16px;
        margin-right: 46px;
        font-weight: bold;
    }
    a{
        color: $color6;
    }
    
}
button{
    visibility: hidden;
    @include sp{
        visibility: visible;
    }
}
.button {
    display: inline-block;
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  
  .hamburger {
    position: fixed;
    top: 16px;
    right: 20px;
    z-index: 3;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid $color6;
    box-shadow: 0 0 2rem transparent;
    outline: none;
    -webkit-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
    &:hover,
    &:focus {  
    box-shadow: 0 0 .5rem rgba(161, 161, 161, 0.5);
  }
  }
  
  
  .hamburger_line {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 18px;
    height: 2px;
    background-color: $color6;
    -webkit-transition: inherit;
            transition: inherit;
    &::before,
    &::after {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      background-color: inherit;
      content: '';
      -webkit-transition: inherit;
              transition: inherit;
    }
  }
  
  .hamburger_line::before {
    top: -5px;
  }
  .hamburger_line::after {
    top: 5px;
  }
  .hamburger[aria-expanded="true"] {
    border: 1px solid #fff!important;
  }
  .hamburger[aria-expanded="true"] .hamburger_line {
    background-color: transparent;
    &::before,
    &::after {
    top: 0;
    background-color: $color1;
  }
  }
  .hamburger[aria-expanded="true"] .hamburger_line::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  
  .hamburger[aria-expanded="true"] .hamburger_line::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  
  .sp-global-menu {
    position: fixed;
    width: 60%;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    height: 100vh;
    background-color: #000;
    color: #fff;
    visibility: hidden;
    li{
        text-align: center;
        font-size: 28px;
        padding-top: 40px;
    }
    a{
        color: $color1;
    }
  }



/*fv
------------------*/
.fv{
    max-width: 1366px;
    height: 768px;
    background: transparent url('../images/component\ \(11\).png') 0% 0% no-repeat padding-box;
    background-position: top -30px left 743px;
    @include sp{
        max-width: 678px;
        background-position: top -30px right -80px;   
    }
    
    
    .left-fv{
        position: absolute;
        top: 262px;
        left: 192px;
        @include sp{
            position: absolute;
            top: 350px;
            left: 10px;
        }
        @include tb{
            position: absolute;
            top: 350px;
            left: 10px;
        }
        h1{
            font-size: 32px;
            height: 140px;
            width: 360px;
            line-height: 45px;
            @include sp{
                font-size: 28px;
            }
        }
        p{
            padding-top: 38px;
            font-size: 16px;
            width: 260px;
            height: 97px;
            line-height: 24px;
            @include sp{
                padding-top: 10px;
            }
        }
        a{
            @include btn;
            margin-top: 39px;
            margin-bottom: 155px;
            @include sp{
                margin-bottom: 0px;
                margin-top: 10px;
            }
        }

    }
    
    .human{
        position: absolute;
        top: 225px;
        right: 172px;
        @include sp{
            position: absolute;
            top: 90px;
            right: 0px;
            display: block;
            width: 100%;
            height: 270px;            
        }
        @include tb{
            position: absolute;
            right: 10px;
        }
    }
}

/*feature
------------------*/

.features{
    h2{ 
        padding-top: 80px;
        font-size: 32px;
        text-align: center;
        @include sp{
            font-size: 28px;
            padding-top: 40px;
        }
    }
    .sub-features{
        font-size: 16px;
        padding-top: 20px;
        text-align: center;
        color: $color9;
    }
}
.feature-inner{
    @include inner;
    h3{
        font-size: 28px;
        text-align: center;
        padding-top: 67px;
        padding-bottom: 54px;
        @include sp{
            font-size: 24px;
            padding-top: 33px;
        }
    }
    h3.two{
        padding-top: 93px;
        padding-bottom: 64px;
        @include sp{
            padding-top: 30px;    
        }
    }
    h3.three{
        padding-top: 143px;
        padding-bottom: 67px;
        @include sp{
            padding-top: 30px;
        }
    }
    .feature-container{
        display: flex;
        @include sp{
            display: block;
        }
        img{
            margin-right: 157px;
            @include sp{
                display: block;
                margin-right: 0px;
                width: 80%;
                padding: 0 10px;
            }
        }
        p{
            font-size: 24px;
            padding-top: 54px;
            width: 510px;
            line-height: 40px;
            @include sp{
                @include features-p;
            }
        }
        p:nth-child(2){
            font-size: 16px;
            padding-top: 54px;
            width: 400px;
            line-height: 24px;
            @include sp{
                font-size: 14px;
                width: 80%;
                br{
                    display: none;
                }
            }
        }
    }
    .feature-container-2{
        display: flex;
        flex-direction: row-reverse;
        @include sp{
            display: block;
            img{
                width: 80%;
                display: block;
                padding: 20px 10px;
            }
        }
        p{
            font-size: 24px;
            width: 345px;
            line-height: 40px;
            padding-right: 190px;

            @include sp{
                padding-right: 0;
                @include features-p;
                br{
                    display: none;
                }
            }
            
        }
        p:nth-child(2){
            font-size: 16px;
            width: 450px;
            line-height: 23px;
            padding-right: 84px;
            padding-top: 49px;

            @include sp{
                font-size: 14px;
                padding-right: 0;
                width: 80%;
            }
            
        }
    }
    .feature-container-3{
        display: flex;
        padding-bottom: 157px;
        @include sp{
            display: block;
            margin-right: 0px;
            padding: 30px 10px;
        }
        img{
            margin-right: 173px;
            @include sp{
                margin-right: 0;
                width: 80%;
                display: block;
                padding: 20px 10px;
            }
        }
        p{
            font-size: 24px;
            width: 360px;
            line-height: 40px;
            @include sp{
                @include features-p;
                br{
                    display: none;
                }
            }
        }
        p:nth-child(2){
            padding-top: 42px;
            font-size: 16px;
            width: 340px;
            line-height: 25px;
            @include sp{
                font-size: 14px;
                width: 80%;
            }
        }
    }
}

/*price
--------------------*/

.price{
    background-color: $color10;
    height: 744px;
    @include sp{
        height: 600px;
    }
}
.price-wrapper{
    max-width: 926px;
    margin: 0 auto;
    h3{
        color: $color6;
        padding-top: 64px;
        padding-bottom: 21px;
        font-size: 32px;
        text-align: center;
        @include sp{
            font-size: 28px;
        }
    }
    p{
        color: $color9;
        padding-bottom: 73px;
        text-align: center;
        font-size: 16px;
        text-transform: uppercase;
    }
    table{
        background-color: $color1;
        font-size: 16px;
        width: 926px;
        height: 410px;
        box-shadow: 0px 3px 6px $color4;
        padding-bottom: 128px;
        @include sp{
            width: 95%;
            margin: 0 auto;
            font-size: 14px;
            height: 300px;
        }
        tr{
            border-bottom: 1px solid $color11;
        }
        tr:last-of-type{
            border-bottom: none;
        }
        .td1{
            border-right: 1px solid $color11;
            text-align: center;
            line-height: 102px;
            @include sp{
                line-height: 74px;
            }
        }
        .td2{
            padding-right: 510px;
            padding-left: 30px;
            @include sp{
                padding-right: 0;
            }
        }
    }
    h4{
        text-align: center;
        padding-top: 36px;
        padding-bottom: 68px;
    }
}

/*F&Q
----------------*/

.Q-A{
    h2{
        font-size: 32px;
        padding-top: 55px;
        padding-bottom: 11px;
        text-align: center;
        @include sp{
            font-size: 28px;
        }
    }
    p{
        color: $color9;
        text-align: center;
        padding-bottom: 32px;
    }
    .q-a-contents{
        font-size: 14px;
        text-align: center;
        width: 907px;
        margin: 0 auto;
        border: solid 1px $color11;
        margin-bottom: 86px;
        @include sp{
            width: 90%;
        }
        .question{
            padding-top: 18px;
            padding-bottom: 20px;
            border-bottom: solid 1px $color11;
        }
        .answer{
            background-color: $color13;
            padding-left: 35px;
            border-top: solid 1px $color11;
            border-bottom: solid 1px $color11;
            text-align: left; 
            @include sp{
                padding: 0 10px;
                text-align: left;
            }
            
        }
        .answer:last-of-type{
            border-bottom: none;
        }
        .a-one{
            padding-top: 17px;
            padding-bottom: 30px;
        }
        .a-two{
            padding-top: 23px;
            padding-bottom: 27px;
            display: none;
        }
        .a-three{
            padding-top: 24px;
            padding-bottom: 26px;
            display: none;
        }
    }
}

/*blog
-----------------*/
.blog{
    background-color: $color10;
    h2{
        font-size: 32px;
        padding-top: 55px;
        padding-bottom: 11px;
        text-align: center;
        @include sp{
            font-size: 28px;
        }
    }
    .s-blog{
        font-size: 16px;
        color: $color9;
        text-align: center;
        padding-bottom: 54px;
    }
}
.blog-contents{
    display: flex;
    justify-content: space-between;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 91px;
    @include sp{
        display: block;
        padding: 0 10px;
        padding-bottom: 40px;
    }
    .blog-container{
        width: 389px;
        height: 387px;
        background-color: $color1;
        position: relative;
        box-shadow: 0px 3px 6px #000029;
        @include sp{
            width: 95%;
            margin: 0 auto;
            height: 330px;
            margin-bottom: 10px;
            img{
                width: 100%;
                height: 70%;
            }
        }
        @include tb{
            width: 250px;
            img{
                width: 100%;
            }
        }
        h3{
            padding-top: 14px;
            padding-left: 18px;
            font-size: 18px;
            @include sp{
                width: 90%;
                margin: 0 auto;
                padding: 0;
                text-align: left;
                br{
                    display: none;
                }
            }
        }
        p{
            position: absolute;
            right: 32px;
            bottom: 10px;
            font-size: 16px;
        }
    }
}

/*performance
-----------------*/

.performance{
    h2{
        padding-top: 55px;
        font-size: 32px;
        text-align: center;
        @include sp{
            font-size: 28px;
        }
    }
    .works{
        font-size: 16px;
        text-align: center;
        padding-top: 11px;
        color: $color9;
    }
}
.swiper-container{
    max-width: 1366px;
    height: 701px;
}
.swiper-wrapper{
    padding-top: 68px;
    padding-bottom: 90px;
    .swiper-slide{
        width: 322px;
        border: 1px solid #DDDDDD;
        border-radius: 8px;
        height: 407px;
        img{
            width: 100%;
            
        }
        h3{
            padding-top: 18px;
            padding-bottom: 30px;
            padding-left: 18px;
            font-size: 16px;           
        }
        .last{
            padding-top: 25px;
        }
        p{
            color: $color6;
            padding-left: 18px;
            padding-bottom: 40px;
        }
    }
}

/*contact
-----------------*/
.contact{
    background: transparent linear-gradient(90deg, #05A5FA 0%, #63FBD7 100%, #67FFD6 100%) 0% 0% no-repeat padding-box;
    height: 1030px;
    h2{
        text-align: center;
        padding-top: 63px;
        color: $color1;
        font-size: 32px;
        @include sp{
            font-size: 28px;
        }
    }
    p{
        text-align: center;
        padding-top: 7px;
        font-size: 16px;
        color: $color1;
        text-transform: uppercase;
    }
    h3{
        padding-top: 36px;
        color: $color1;
        font-size: 16px;
        text-align: center;
        padding-bottom: 44px;
    }                                         
}
.form-wrapper{
    width: 908px;
    height: 740px;
    margin: 0 auto;
    background-color: $color1;
    @include sp{
        width: 95%;
    }
    
    .box{
        
        margin-bottom: 25px;
        display: flex;
        flex-direction: column;
        padding-left: 63px;
        @include sp{
            padding-left: 0;
            width: 100%;
            text-align:center;
        }
    }
    label{
        display: inline-block;
        padding-top: 34px;
        font-size: 16px;
        span{
            @include required;
        }     
    }
    input{
        width: 499px;
        display: inline-block;
        margin-top: 36px;
        height: 41px;
        background-color: $color10;
        border: none;
        border-radius: 3px;
        @include sp{
            width: 85%;
            margin: 0 auto;
            margin-top: 30px;
        }
    }
    textarea{
        display: inline-block;
        width: 781px;
        height: 179px;
        background-color: $color10;
        border: none;
        border-radius: 3px;
        margin-top: 35px;
        @include sp{
            width: 85%;
            margin: 0 auto;
            margin-top: 30px;
        }
    }
    .privacy{
        display: flex;
        justify-content: center;
        @include sp{
            display: block;
            text-align: center;
        }   
    }
    .check{
        display: inline-block;
        margin-top: 0;
        width: 20px;
        height: 20px;
        border: 1px solid $color5;
    }
    h4{
        font-size: 14px;
        line-height: 20px;
        margin-left: 10px;
    }
    .submit-btn{
        @include btn;
        margin-left: 377px;
        cursor: pointer;
        @include sp{
            margin-left: 0;
            display: block;
            margin: 30px auto 0;
        }
    }
    form{
        @include sp{
            width: 100%;
        }
    }
    .p-check{
        padding-top: 0px;
    }
    #privacyCheck{
        margin-top: 3px;
        display: inline-block;
        height: 20px;
        width: 20px;
    }
}

.end-message {
    display: none;
    color: $color4;
    text-align: center;
    padding-top: 15px;
  }
  
  .false-message {
    display: none;
    color: $color4;
    text-align: center;
    padding-top: 15px;
  }

/*footer
--------------*/

footer{
    background-color: $color15;
    h2{
        padding-top: 43px;
        font-size: 24px;
        text-align: center;
    }
    .detail{
        display: flex;
        justify-content: center;
        padding-top: 21px;
        p{
            
            font-size: 16px;
        }
        .first{
            padding-right: 29px;
        }
    }
    p{
        padding-top: 52px;
        padding-bottom: 49px;
        text-align: center;
    }
}


